* {
  margin: 0;
}

head {
  margin: 0;
  padding: 0;
}

body {
    margin: 0;
    padding: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(211, 211, 211);
  }

  div#root{
    margin: 0;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
