.formBtn{
    width: 120px;
    height: 34px;
    margin: auto;
    border-radius: 6px 22px;
    transition: all .2s ease;
    box-sizing: border-box;
    text-align: center;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 14px 0;
    overflow: hidden;
}

.formBtn:hover{
    border-radius: 22px 6px;
    background: rgb(1, 102, 16);
    color: white;
    cursor: pointer;
}

.tree{
    position: relative;
    transition: all .2s ease;
    top: 15px;
}

.formBtn:hover > span{
    top: 3px;
    color: white;
}