.farmsTable{
    width: 100%;
}

.farmRow{
    text-align: center;
}

th{
    text-decoration: underline;
    font-size: large;
}

.link{
    text-decoration: none;
    color:forestgreen;
}

.link:hover{
    text-decoration: underline;
    font-style: italic;
}