.navBar {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: rgba(82, 58, 28, 0.815);
    top: 0;
    width: 100%;
}

.navLink, .navLink:active, .navLink:visited{
    display: block;
    color: white;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
    float: left;
    border-right: 1px solid #bbb;
}

.navLink:hover{
    background-color: #111;
}

.logoutBtnContainer {
    margin-left: auto;
}

.logoutBtn {
    padding: 4px;
    margin: 5px;
    background-color: #666;
    color: black;
    border-radius: 5px;
}

.logoutBtn:hover {
    padding: 4px;
    margin: 5px;
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    border-radius: 5px;
}