.navBar {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: rgba(82, 58, 28, 0.815);
    top: 0;
    width: 100%;
}

.navLink, .navLink:active, .navLink:visited{
    display: block;
    color: white;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
    float: left;
    border-right: 1px solid #bbb;
}

.navLink:hover{
    background-color: rgb(2, 87, 15);
}

.logoutBtnContainer {
    margin-left: auto;
}

.logoutBtn {
    width: 100px;
    height: 30px;
    margin: auto;
    border-radius: 6px 22px;
    transition: all .2s ease;
    box-sizing: border-box;
    text-align: center;
    background-color: rgba(82, 58, 28, 0.815);
    color: rgba(255, 255, 255, 0.815);
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 14px 0;
    overflow: hidden;
}



.logoutBtn:hover {
    border-radius: 22px 6px;
    background: rgb(2, 87, 15);
    color:(255,255,255);
    cursor: pointer;
}

