.logoutBtn {
    padding: 3px;
    margin: 0px;
    background-color: rgb(117, 85, 60);
    color: black;
    border-radius: 5px;
}

.logoutBtn:hover {
    padding: 3px;
    margin: 0px;
    background-color: rgb(75, 39, 13);
    color: whitesmoke;
    border-radius: 5px;
}